.movie {
  background-position: left calc((50vw - 170px) - 340px) top;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);

  &__background {
    background-image: linear-gradient(to right, rgba(31.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 31.5, 0.84) 50%, rgba(31.5, 31.5, 31.5, 0.84) 100%);
  }

  &__content {
    display: flex;
    padding: 30px 10px;
  }

  &__poster {
    object-fit: cover;
    height: 550px;
    width: 400px;
    min-width: 400px;
    border-radius: 10px;
  }

  &__image {
    display: block;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    border-width: 0px;
    outline: none;
  }

  &__info {
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    display: flex;
    flex-direction: column;

    span {
      opacity: 0.8;
      font-weight: 400;
    }
  }
}

.facts {
  display: flex;
  margin-top: 5px;
}

.content {
  &:before {
    content: '\2022';
    align-items: center;
    margin: 0 8px;

  }
}

.tagline {
  margin-bottom: 15px;
  font-weight: 400;
  font-style: italic;
  opacity: 0.7;
}

.overview {
  margin-bottom: 10px;
}

.title__actors {
  margin-bottom: 20px;
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
