.movie {
  background-position: left calc((50vw - 170px) - 340px) top;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);

  &__background {
    background-image: linear-gradient(to right, rgba(31.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 31.5, 0.84) 50%, rgba(31.5, 31.5, 31.5, 0.84) 100%);
  }

  &__content {
    display: flex;
    padding: 30px 10px;
  }

  &__image {
    object-fit: cover;
    height: 450px;
    width: 300px;
    border-radius: 8px;
  }
  &__info {
    padding-left: 40px;
    display: flex;
    //align-items: center;
    flex-wrap: wrap;
  }
}
.title__actors {
  margin-bottom: 20px;
}
.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
