.movies {

  &__item {
    cursor: pointer;
    padding: 10px;
    display: flex;
    border: 1px solid rgba(227, 227, 227, 1);
    border-radius: 10px;
    margin-bottom: 15px;

    > img {
      object-fit: cover;
      height: 100px;
      width: 100px;
    }
  }

  &__content {
    margin-left: 15px;
  }
}
