.banner {
  padding: 15px;
  min-height: 360px;
  background-color: var(--color-dark-lighter);
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-white);

  > title {
    color: var(--color-white)
  }

  > form {
    > input {
      width: 200px;
      padding: 5px 15px;
      border: 1px solid #000;
      border-radius: 10px;
    }

    > button {
      margin-left: 15px;
      padding: 10px 15px;
      background-color: var(--color-yellow);
      border-radius: 10px;
      color: var(--color-dark-lighter)
    }
  }
}
